@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --solf-blue: hsl(240, 73%, 65%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 110vh;
  font-size: 0.75rem;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--soft-violet); /* for browser that do not support linear gradient */
  background-image: linear-gradient(var(--soft-violet), var(--solf-blue));
  overflow-y: hidden;
}

.card {
  margin: 160px auto 0 auto;
  width: 290px;
  min-height: 300px;
  padding: 2em 2em 4em 2em;
  background-color: white;
  border-radius: 1.7em;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.189);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 85%;
  height: auto;
  margin-top: -8.2rem;
}

.card-img--bg-pattern {
  width: 85%;
  height: auto;
  margin-top: -4.8rem;
  margin-bottom: 1.5rem;
}

.faq {
  width: 100%;
  color: var(--dark-blue);
}

.faq--title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
}

.faq--list {
  list-style: none;
}

.faq--item {
  font-size: .875rem;
  border-bottom: 1px solid var(--light-grayish-blue);
}

button {
  padding: 15px 0;
  width: 100%;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: inherit;
}

.img--arrow {
  margin-left: auto;
  margin-right: 0;
}